@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
}

:root {
  /* Colors and styles for header */
  --header-black: #0E1422;
  --header-white: #FFFFFF;
  --header-span: #5C5F6A;
  --primary-font: "Inter", sans-serif;
  --icons-color: #878A92;
  --grey: #F6F6F6;
  --dark-grey: #474B57

  /* font sizes */
  --h1Size: 40px;
  --h2Size: 32px;
  --h3Size: 24px;
  --h4Size: 18px;
  --h5Size: 16px;
  --h6Size: 14px;
  --pSize: 14px;
  --labelSize: 12px;

  /* Spacing */
  --padding01: 4px;
  --padding02: 6px;
  --padding03: 8px;
  --padding04: 12px;
  --padding05: 16px;
  --padding06: 24px;
  --padding07: 32px;
  --padding08: 40px;
  --padding09: 48px;
  --padding10: 50px;

}

.padding06 {
  padding: var(--padding06);
}

.icon {
  color: var(--header-span);
}

ul {
  display: flex;
}

.buttonDesign {
  background: var(--header-black);
  color: var(--header-white);
  font-family: var(--primary-font);
  border: none;
  font-size: var(--labelSize);
  padding: 0.5rem var(--padding02);
  width: 9rem;
  position: relative;
  border-radius: 5px;
}

.circle {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  right: 180px;
}


.space-around {
  display: flex;
  align-items: center;
  justify-self: space-around;
}

.arrowIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.homeBanner {
  padding: var(--padding10);
  height: 30vh;
  background: var(--grey);
  position: relative;
}

.personImage {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.freshArrivals {
  color: var(--header-black);
  font-family: var(--primary-font);
  font-size: var(--h3Size);
  font-weight: bolder;
}

.discoverNew {
  color: var(--header-span);
  font-family: var(--primary-font);
  font-size: 0.7rem;
  padding-bottom: 1rem;
  font-weight: light;
}

li {
  padding: 0 var(--padding04);
  font-size: var(--labelSize);
  cursor: pointer;
  color: var(--header-span);
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorBlack {
  color: var(--header-black);
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.h1Style {
  font-size: var(--h1Size);
  line-height: 150%;
  font-weight: bold;
  font-family: var(--primary-font);
}

.h2Style {
  font-size: var(--h2Size);
  font-weight: bold;
  font-family: var(primary-font);
}

.h3Style {
  font-size: var(--h3Size);
  font-weight: bold;
  font-family: var(--primary-font);
}

.h4Style {
  font-size: var(--h4Size);
  font-family: var(--primary-font);
}

.h5Style {
  font-size: var(--h5Size);
  font-weight: bold;
  font-family: var(--primary-font);
}

.h6Style {
  font-size: var(--h6Size);
  font-weight: medium;
  font-family: var(--primary-font);
}

.whiteP1 {
  color: var(--header-white);
  font-size: var(--labelSize);
  font-family: var(--primary-font);
}

.span {
  color: var(--header-span);
  font-size: var(--labelSize);
}

.blackBackground {
  background-color: var(--header-black);
}


.firstOrderDiscountOffer {
  height: 35px;
  width: 100%;
}

.searchBox {
  padding: var(--padding02);
  border: 1px solid var(--header-span);
  width: 200px;
  padding-left: var(--padding07);
}

.flex {
  display: flex;
  align-items: center;
}

.cartIcon{
  padding: 0 1rem;
  margin-left: 2rem;
}

.searchArea {
  position: relative;
}

.borderRadius10 {
  border-radius: 5px;
}

.searchIcon {
  position: absolute;
  color: var(--header-span);
  left: 5px;
  top: 50%; /* Adjust the vertical alignment of the icon */
  transform: translateY(-50%);
}